<h1>teams</h1>

  <ul>
    <% @teams.each do |team| %>
      <li>
        <%= team.name %>
      </li>
    <% end %>

  </ul>
  <%= link_to 'Add another Team', new_tournament_team_path(@tournament) %>