<h1>teams</h1>
    
  <ul>
    <% @teams_in_play_list.each do |team| %>
      <li>
        <%= team.name %>
      </li>

    <% end %>
  </ul>

  <% if @tournament.teams.count < @tournament.number_of_teams %>
    <%= link_to 'Add another Team', new_tournament_team_path(@tournament) %>
  <% else %>

  <% end %>

