<h1>Current Tournament List</h1>

  <ul>
    <% @tournaments.each do |tournaments| %>
      <li>
        <%= tournaments.name %>
      </li>
    <% end %>

  </ul>

<%= link_to "new tournament", new_tournament_path %>
