<h1>Tournament Show</h1>

<%= @tournament.name %>

<br/>

<%= @tournament.number_of_teams %>

<br/>


	

<%= link_to 'Add a Team', new_tournament_team_path(@tournament) %>

<ul>
  <li>

  </li>

</ul>